# Unit 12 - Tales from the Crypto

---

## 1. Sentiment Analysis

Use the [newsapi](https://newsapi.org/) to pull the latest news articles for Bitcoin and Ethereum and create a DataFrame of sentiment scores for each coin.

Use descriptive statistics to answer the following questions:
1. Which coin had the highest mean positive score?
2. Which coin had the highest negative score?
3. Which coin had the highest positive score?

In [2]:
# Initial imports
import os
import pandas as pd
from dotenv import load_dotenv
import nltk as nltk
from newsapi import NewsApiClient
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()

%matplotlib inline

[nltk_data] Downloading package vader_lexicon to /home/wh/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [5]:
load_dotenv()

True

In [6]:
# Read your api key environment variable
# YOUR CODE HERE!
key = os.getenv("news_api_key")
type(key)

str

In [7]:
# Create a newsapi client
# YOUR CODE HERE!
newsapi = NewsApiClient(api_key = key)

In [24]:
# Fetch the Bitcoin news articles
# YOUR CODE HERE!
btc_articles = newsapi.get_everything(q = 'Bitcoin', language = 'en')
len(btc_articles)

3

In [26]:
# Fetch the Ethereum news articles
# YOUR CODE HERE!
eth_articles = newsapi.get_everything(q = 'Ethereum', language = 'en')
len(eth_articles)

3

In [29]:
# Create function to get sentiments from a dictionary of articles from newsapi
def get_sentiments(dictionary):
    results = []
    for x in dictionary['articles']:
        title = x['title']
        text = x["content"]
        date = x["publishedAt"][:10]
        sentiment = analyzer.polarity_scores(text)
        compound = sentiment['compound']
        positive = sentiment['pos']
        neutral = sentiment['neu']
        negative = sentiment['neg']
        results.append({
            'Title': title,
            'Text': text,
            'Date': date,
            'Compound': compound,
            'Positive': positive,
            'Neutral': neutral,
            'Negative': negative
        })
    
#     except AttributeError:
#         pass
    
    df = pd.DataFrame(results)
    return df

In [33]:
# Create the Bitcoin sentiment scores DataFrame
# YOUR CODE HERE!
btc_sentiments = get_sentiments(btc_articles)
btc_sentiments.head()

,Title,Text,Date,Compound,Positive,Neutral,Negative
0,El Salvador becomes the first country to appro...,El Salvador's President Nayib Bukele has made ...,2021-06-09,0.8402,0.282,0.718,0.000
1,El Salvador Becomes First Country to Recognize...,El Salvador has become the first country in th...,2021-06-09,0.1280,0.043,0.957,0.000
2,Elon Musk says Tesla will resume Bitcoin purch...,"It's all about clean energy, it seems. \r\nElo...",2021-06-14,0.6908,0.169,0.831,0.000
3,Kaseya ransomware attackers demand $70 million...,Filed under:\r\nThe supply chain attack has re...,2021-07-05,-0.5719,0.111,0.705,0.184
4,Bitcoin: El Salvador makes cryptocurrency lega...,image captionThe move means bitcoin will be ac...,2021-06-09,0.2732,0.060,0.940,0.000

In [34]:
# Create the Ethereum sentiment scores DataFrame
# YOUR CODE HERE!
eth_sentiments = get_sentiments(eth_articles)
eth_sentiments.head()

,Title,Text,Date,Compound,Positive,Neutral,Negative
0,This blockchain development course bundle is o...,TL;DR: The Cryptocurrency with Ethereum and So...,2021-06-17,0.0000,0.000,1.000,0.000
1,Classic memes that have sold as NFTs,It wasn't long ago that your average person ha...,2021-06-20,-0.2960,0.000,0.939,0.061
2,Ethereum creator Vitalik Buterin made more tha...,This article was translated from our Spanish e...,2021-06-10,-0.3400,0.000,0.934,0.066
3,Ethereum now has more active addresses than bi...,Bitcoin and Ethereum\r\nYuriko Nakao\r\nEther ...,2021-07-02,0.3612,0.110,0.849,0.041
4,More than $13 billion worth of ether has been ...,"Ether holders have ""staked"" more than $13 bill...",2021-07-05,0.7717,0.194,0.806,0.000

In [35]:
# Describe the Bitcoin Sentiment
# YOUR CODE HERE!
btc_sentiments.describe()

        Compound   Positive   Neutral   Negative
count  20.000000  20.000000  20.00000  20.000000
mean    0.136730   0.076250   0.88695   0.036750
std     0.409336   0.070288   0.08129   0.054092
min    -0.612400   0.000000   0.70500   0.000000
25%    -0.050575   0.032250   0.84025   0.000000
50%     0.128000   0.065500   0.90500   0.000000
75%     0.369700   0.107250   0.94375   0.064750
max     0.840200   0.282000   1.00000   0.184000

In [36]:
# Describe the Ethereum Sentiment
# YOUR CODE HERE!
eth_sentiments.describe()

        Compound   Positive   Neutral   Negative
count  20.000000  20.000000  20.00000  20.000000
mean    0.040535   0.043850   0.92345   0.032700
std     0.374727   0.058184   0.06077   0.042269
min    -0.458800   0.000000   0.78200   0.000000
25%    -0.278900   0.000000   0.91850   0.000000
50%     0.000000   0.000000   0.93450   0.000000
75%     0.361200   0.074750   0.94200   0.061250
max     0.771700   0.194000   1.00000   0.151000

### Questions:

Q: Which coin had the highest mean positive score?

A:  

Q: Which coin had the highest compound score?

A: 

Q. Which coin had the highest positive score?

A:

---

## 2. Natural Language Processing
---
###   Tokenizer

In this section, you will use NLTK and Python to tokenize the text for each coin. Be sure to:
1. Lowercase each word.
2. Remove Punctuation.
3. Remove Stopwords.

In [10]:
from nltk.tokenize import word_tokenize, sent_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer, PorterStemmer
from string import punctuation
import re

In [11]:
# Instantiate the lemmatizer
# YOUR CODE HERE!

# Create a list of stopwords
# YOUR CODE HERE!

# Expand the default stopwords list if necessary
# YOUR CODE HERE!

In [12]:
# Complete the tokenizer function
def tokenizer(text):
    """Tokenizes text."""
    
    # Remove the punctuation from text

   
    # Create a tokenized list of the words
    
    
    # Lemmatize words into root words

   
    # Convert the words to lowercase
    
    
    # Remove the stop words
    
    
    return tokens

In [13]:
# Create a new tokens column for Bitcoin
# YOUR CODE HERE!

In [14]:
# Create a new tokens column for Ethereum
# YOUR CODE HERE!

---

### NGrams and Frequency Analysis

In this section you will look at the ngrams and word frequency for each coin. 

1. Use NLTK to produce the n-grams for N = 2. 
2. List the top 10 words for each coin.

In [15]:
from collections import Counter
from nltk import ngrams

In [16]:
# Generate the Bitcoin N-grams where N=2
# YOUR CODE HERE!

In [17]:
# Generate the Ethereum N-grams where N=2
# YOUR CODE HERE!

In [18]:
# Function token_count generates the top 10 words for a given coin
def token_count(tokens, N=3):
    """Returns the top N tokens from the frequency count"""
    return Counter(tokens).most_common(N)

In [19]:
# Use token_count to get the top 10 words for Bitcoin
# YOUR CODE HERE!

In [20]:
# Use token_count to get the top 10 words for Ethereum
# YOUR CODE HERE!

---

### Word Clouds

In this section, you will generate word clouds for each coin to summarize the news for each coin

In [21]:
from wordcloud import WordCloud
import matplotlib.pyplot as plt
plt.style.use('seaborn-whitegrid')
import matplotlib as mpl
mpl.rcParams['figure.figsize'] = [20.0, 10.0]

In [22]:
# Generate the Bitcoin word cloud
# YOUR CODE HERE!

In [23]:
# Generate the Ethereum word cloud
# YOUR CODE HERE!

---
## 3. Named Entity Recognition

In this section, you will build a named entity recognition model for both Bitcoin and Ethereum, then visualize the tags using SpaCy.

In [24]:
import spacy
from spacy import displacy

In [25]:
# Download the language model for SpaCy
# !python -m spacy download en_core_web_sm

In [26]:
# Load the spaCy model
nlp = spacy.load('en_core_web_sm')

---
### Bitcoin NER

In [27]:
# Concatenate all of the Bitcoin text together
# YOUR CODE HERE!

In [28]:
# Run the NER processor on all of the text
# YOUR CODE HERE!

# Add a title to the document
# YOUR CODE HERE!

In [29]:
# Render the visualization
# YOUR CODE HERE!

In [30]:
# List all Entities
# YOUR CODE HERE!

---

### Ethereum NER

In [31]:
# Concatenate all of the Ethereum text together
# YOUR CODE HERE!

In [32]:
# Run the NER processor on all of the text
# YOUR CODE HERE!

# Add a title to the document
# YOUR CODE HERE!

In [33]:
# Render the visualization
# YOUR CODE HERE!

In [34]:
# List all Entities
# YOUR CODE HERE!

---